$mainColor: #f7fafc;
$secondaryColor: #ffffff;
$blueColor: #bee3f8;
$grayColor: #e2e8f0;
$redColor: #fed7e2;
$textColor: #1a202c;
$textColorSecond: #718096;
$textColorBlue: #72b9ee;
$textColorViolett: #3182ce;
